<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.netease.nadp.monitor.dao.AppDao">
    <resultMap id="appVO" type="cn.com.netease.nadp.monitor.vo.AppVO">
        <result column="id" property="id" jdbcType="INTEGER" javaType="INTEGER" />
        <result column="name" property="name" />
        <result column="app_key" property="appKey" />
        <result column="create_date" property="createDate" />
        <result column="status" property="status" />
        <result column="description" property="description" />
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into config_app
        (name,app_key ,description) values(#{name}, #{appKey},#{description})
    </insert>
    <select id="select" resultMap="appVO">
        select id,name,app_key,status,description,create_date from config_app where 1=1
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="appKey != null and appKey != ''">
            and app_key = #{appKey}
        </if>
        <if test="pageFrom > 0 and PageCapacity > 0" >
            limit #{pageFrom} , ${PageCapacity}
        </if>
    </select>
    <select id="selectDataCount" resultType="int" >
        select count(1) as count from config_app where 1=1
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
    </select>
    <select id="selectAll" resultMap="appVO" >
        select id,name,app_key,status,description,create_date as count from config_app where 1=1
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>

</mapper>