<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:nadp="http://www.163.com/schema/nadp/register/configuration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.163.com/schema/nadp/register/configuration
		http://www.163.com/schema/nadp/register/configuration/configuration.xsd">
	<bean class="cn.com.netease.nadp.monitor.common.ConfigurationDataHandler"  />
	<util:properties id="app" location="classpath:app.properties" />
	<import resource="applicationContext-persistence.xml" />
	<import resource="applicationContext-service.xml" />
</beans>