<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:nadp="http://www.163.com/schema/nadp"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
			http://www.163.com/schema/nadp http://www.163.com/schema/nadp/nadp.xsd"
       default-lazy-init="true">


    <nadp:application id="application" name="dispatch" type="schedule" />
    <nadp:registry id="registry" address="123.56.14.172" port="2181" />

    <bean id="dispatch" name="dispatch" class="cn.com.netease.nadp.schedule.dispatch.Dispatch" />

    <task:scheduled-tasks>
        <task:scheduled ref="dispatch" method="run" cron="*/10 * * * * *"/>
    </task:scheduled-tasks>
</beans>